* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgb(236, 236, 236);
}

header,
footer {
  text-align: left;
  padding: 30px 5%;
  background-color: rgb(199, 63, 63);
}

footer {
  text-align: center;
}

h1 {
  color: white;
}

h1:hover {
  color: rgb(212, 212, 212);
}

.navContainer {
  width: 90%;
  margin: auto;
  display: flex;
}

.navLinks h2 {
  color: white;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  font-size: 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-align: left;
  line-height: 1.75rem;
}

.navLinks h2:hover {
  color: rgb(212, 212, 212);
  text-decoration: underline;
  text-underline-position: unset;
}

.navBar {
  background-color: rgb(133, 45, 45);
  padding: 10px 0;
}

.homepage-header {
  font-size: xx-large;
  margin-top: 10px;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.articles-header {
  font-size: xx-large;
  margin-top: 10px;
}

.subHeader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.topics-page-header {
  font-size: x-large;
  margin-top: 10px;
}

.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.articleCard {
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.topics {
  display: flex;
}

.topic {
  width: 33.3%;
}

.topicCard {
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.topicCard:hover {
  background-color: rgb(212, 212, 212);
}

.topicImage img {
  width: 100%;
}

.topicName h4 {
  padding: 20px 0;
}

.articleTitle {
  color: black;
}

.article {
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.commentButton {
  background: rgb(199, 63, 63);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

.voteButtons {
  background: rgb(236, 236, 236);
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.submitButton {
  background: rgb(236, 236, 236);
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.cancelButton {
  background: rgb(236, 236, 236);
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.commentButton:hover {
  background: rgb(133, 45, 45);
}

.voteButtons:hover {
  background: rgb(212, 212, 212);
}

.submitButton:hover {
  background: rgb(212, 212, 212);
}

.cancelButton:hover {
  background: rgb(199, 63, 63);
  color: white;
}

.commentCard {
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.commentField {
  width: 80%;
  height: 150px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #dddd;
}

.topicName {
  color: black;
  font-size: x-large;
}

.commentCount {
  color: rgb(199, 63, 63);
  font-weight: bolder;
}

.commentAuthor {
  color: rgb(199, 63, 63);
  font-weight: bolder;
}

.voteCount {
  color: rgb(199, 63, 63);
  font-weight: bolder;
}

.errorMessage {
  color: rgb(199, 63, 63);
  font-weight: bolder;
}

img {
  width: 400px;
  height: 250px;
  display: inline-block;
}

img:hover {
  box-shadow: 0, 20px, 8px, 0;
}

.footerLink {
  display: inline-block;
  list-style: none;
  color: white;
  padding: 5px 20px;
}

.deleteComment {
  background: rgb(236, 236, 236);
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.deleteComment:hover {
  background: rgb(212, 212, 212);
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .navContainer {
    justify-content: center;
  }

  .topics {
    flex-direction: column;
  }

  .topic {
    width: 100%;
  }
}
